antlr4-python3-runtime==4.8
autocommand==2.2.2
backports.tarfile==1.2.0
bitarray==2.7.3
cffi==1.15.1
cmake==3.26.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
Cython==0.29.34
fairseq @ file:///home/conda/feedstock_root/build_artifacts/fairseq_1727042725259/work
ffmpeg==1.4
filelock==3.12.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1725543257300/work
hydra-core==1.0.7
importlib_metadata==8.0.0
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1725921340658/work
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
Jinja2==3.1.2
joblib==1.2.0
lit==16.0.3
lxml==4.9.2
MarkupSafe==2.1.2
more-itertools==10.3.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
networkx==3.1
numpy==1.26.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
packaging==23.1
pillow==10.2.0
platformdirs==4.2.2
portalocker @ file:///home/conda/feedstock_root/build_artifacts/portalocker_1728931699871/work
protobuf==3.20.3
pycparser==2.21
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1725456145900/work
regex==2023.5.5
sacrebleu==2.0.0
scikit-learn==1.2.2
scipy==1.10.1
soundfile==0.12.1
sympy==1.12
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tensorboardX==2.6
TextGrid==1.5
threadpoolctl==3.1.0
tomli==2.0.1
torch==2.4.0+cu118
torchaudio==2.4.0+cu118
torchvision==0.19.0+cu118
tqdm==4.65.0
triton==3.0.0
typeguard==4.3.0
typing_extensions==4.10.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1726248574750/work
